<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjtu.worktile.model.mappers.STemplateMapper">
  <resultMap id="BaseResultMap" type="com.sjtu.worktile.model.STemplate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pending1" jdbcType="VARCHAR" property="pending1" />
    <result column="pending2" jdbcType="VARCHAR" property="pending2" />
    <result column="pending3" jdbcType="VARCHAR" property="pending3" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sjtu.worktile.model.STemplate">
    <result column="entries" jdbcType="LONGVARCHAR" property="entries" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, pending1, pending2, pending3
  </sql>
  <sql id="Blob_Column_List">
    entries
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.sjtu.worktile.model.STemplateExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.sjtu.worktile.model.STemplateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from s_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from s_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sjtu.worktile.model.STemplateExample">
    delete from s_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sjtu.worktile.model.STemplate">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into s_template (name, pending1, pending2, 
      pending3, entries)
    values (#{name,jdbcType=VARCHAR}, #{pending1,jdbcType=VARCHAR}, #{pending2,jdbcType=VARCHAR}, 
      #{pending3,jdbcType=VARCHAR}, #{entries,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sjtu.worktile.model.STemplate">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into s_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="pending1 != null">
        pending1,
      </if>
      <if test="pending2 != null">
        pending2,
      </if>
      <if test="pending3 != null">
        pending3,
      </if>
      <if test="entries != null">
        entries,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pending1 != null">
        #{pending1,jdbcType=VARCHAR},
      </if>
      <if test="pending2 != null">
        #{pending2,jdbcType=VARCHAR},
      </if>
      <if test="pending3 != null">
        #{pending3,jdbcType=VARCHAR},
      </if>
      <if test="entries != null">
        #{entries,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sjtu.worktile.model.STemplateExample" resultType="java.lang.Long">
    select count(*) from s_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update s_template
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.pending1 != null">
        pending1 = #{record.pending1,jdbcType=VARCHAR},
      </if>
      <if test="record.pending2 != null">
        pending2 = #{record.pending2,jdbcType=VARCHAR},
      </if>
      <if test="record.pending3 != null">
        pending3 = #{record.pending3,jdbcType=VARCHAR},
      </if>
      <if test="record.entries != null">
        entries = #{record.entries,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update s_template
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      pending1 = #{record.pending1,jdbcType=VARCHAR},
      pending2 = #{record.pending2,jdbcType=VARCHAR},
      pending3 = #{record.pending3,jdbcType=VARCHAR},
      entries = #{record.entries,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update s_template
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      pending1 = #{record.pending1,jdbcType=VARCHAR},
      pending2 = #{record.pending2,jdbcType=VARCHAR},
      pending3 = #{record.pending3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sjtu.worktile.model.STemplate">
    update s_template
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pending1 != null">
        pending1 = #{pending1,jdbcType=VARCHAR},
      </if>
      <if test="pending2 != null">
        pending2 = #{pending2,jdbcType=VARCHAR},
      </if>
      <if test="pending3 != null">
        pending3 = #{pending3,jdbcType=VARCHAR},
      </if>
      <if test="entries != null">
        entries = #{entries,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sjtu.worktile.model.STemplate">
    update s_template
    set name = #{name,jdbcType=VARCHAR},
      pending1 = #{pending1,jdbcType=VARCHAR},
      pending2 = #{pending2,jdbcType=VARCHAR},
      pending3 = #{pending3,jdbcType=VARCHAR},
      entries = #{entries,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sjtu.worktile.model.STemplate">
    update s_template
    set name = #{name,jdbcType=VARCHAR},
      pending1 = #{pending1,jdbcType=VARCHAR},
      pending2 = #{pending2,jdbcType=VARCHAR},
      pending3 = #{pending3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>