<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjtu.worktile.model.mappers.TTaskCommentMapper">
  <resultMap id="BaseResultMap" type="com.sjtu.worktile.model.TTaskComment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sender_id" jdbcType="BIGINT" property="senderId" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="attachment" jdbcType="VARCHAR" property="attachment" />
    <result column="comment_id" jdbcType="BIGINT" property="commentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="pending1" jdbcType="VARCHAR" property="pending1" />
    <result column="pending2" jdbcType="VARCHAR" property="pending2" />
    <result column="pending3" jdbcType="VARCHAR" property="pending3" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sjtu.worktile.model.TTaskComment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sender_id, task_id, attachment, comment_id, create_time, pending1, pending2, 
    pending3
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.sjtu.worktile.model.TTaskCommentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_task_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.sjtu.worktile.model.TTaskCommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_task_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_task_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_task_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sjtu.worktile.model.TTaskCommentExample">
    delete from t_task_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sjtu.worktile.model.TTaskComment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_task_comment (sender_id, task_id, attachment, 
      comment_id, create_time, pending1, 
      pending2, pending3, content
      )
    values (#{senderId,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{attachment,jdbcType=VARCHAR}, 
      #{commentId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{pending1,jdbcType=VARCHAR}, 
      #{pending2,jdbcType=VARCHAR}, #{pending3,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sjtu.worktile.model.TTaskComment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_task_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="senderId != null">
        sender_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="attachment != null">
        attachment,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="pending1 != null">
        pending1,
      </if>
      <if test="pending2 != null">
        pending2,
      </if>
      <if test="pending3 != null">
        pending3,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="senderId != null">
        #{senderId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="attachment != null">
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pending1 != null">
        #{pending1,jdbcType=VARCHAR},
      </if>
      <if test="pending2 != null">
        #{pending2,jdbcType=VARCHAR},
      </if>
      <if test="pending3 != null">
        #{pending3,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sjtu.worktile.model.TTaskCommentExample" resultType="java.lang.Long">
    select count(*) from t_task_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_task_comment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.senderId != null">
        sender_id = #{record.senderId,jdbcType=BIGINT},
      </if>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=BIGINT},
      </if>
      <if test="record.attachment != null">
        attachment = #{record.attachment,jdbcType=VARCHAR},
      </if>
      <if test="record.commentId != null">
        comment_id = #{record.commentId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pending1 != null">
        pending1 = #{record.pending1,jdbcType=VARCHAR},
      </if>
      <if test="record.pending2 != null">
        pending2 = #{record.pending2,jdbcType=VARCHAR},
      </if>
      <if test="record.pending3 != null">
        pending3 = #{record.pending3,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_task_comment
    set id = #{record.id,jdbcType=BIGINT},
      sender_id = #{record.senderId,jdbcType=BIGINT},
      task_id = #{record.taskId,jdbcType=BIGINT},
      attachment = #{record.attachment,jdbcType=VARCHAR},
      comment_id = #{record.commentId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      pending1 = #{record.pending1,jdbcType=VARCHAR},
      pending2 = #{record.pending2,jdbcType=VARCHAR},
      pending3 = #{record.pending3,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_task_comment
    set id = #{record.id,jdbcType=BIGINT},
      sender_id = #{record.senderId,jdbcType=BIGINT},
      task_id = #{record.taskId,jdbcType=BIGINT},
      attachment = #{record.attachment,jdbcType=VARCHAR},
      comment_id = #{record.commentId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      pending1 = #{record.pending1,jdbcType=VARCHAR},
      pending2 = #{record.pending2,jdbcType=VARCHAR},
      pending3 = #{record.pending3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sjtu.worktile.model.TTaskComment">
    update t_task_comment
    <set>
      <if test="senderId != null">
        sender_id = #{senderId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="attachment != null">
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pending1 != null">
        pending1 = #{pending1,jdbcType=VARCHAR},
      </if>
      <if test="pending2 != null">
        pending2 = #{pending2,jdbcType=VARCHAR},
      </if>
      <if test="pending3 != null">
        pending3 = #{pending3,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sjtu.worktile.model.TTaskComment">
    update t_task_comment
    set sender_id = #{senderId,jdbcType=BIGINT},
      task_id = #{taskId,jdbcType=BIGINT},
      attachment = #{attachment,jdbcType=VARCHAR},
      comment_id = #{commentId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pending1 = #{pending1,jdbcType=VARCHAR},
      pending2 = #{pending2,jdbcType=VARCHAR},
      pending3 = #{pending3,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sjtu.worktile.model.TTaskComment">
    update t_task_comment
    set sender_id = #{senderId,jdbcType=BIGINT},
      task_id = #{taskId,jdbcType=BIGINT},
      attachment = #{attachment,jdbcType=VARCHAR},
      comment_id = #{commentId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pending1 = #{pending1,jdbcType=VARCHAR},
      pending2 = #{pending2,jdbcType=VARCHAR},
      pending3 = #{pending3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>