<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjtu.worktile.model.mappers.TTaskMapper">
  <resultMap id="BaseResultMap" type="com.sjtu.worktile.model.TTask">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="locked" jdbcType="INTEGER" property="locked" />
    <result column="pos" jdbcType="REAL" property="pos" />
    <result column="pending1" jdbcType="VARCHAR" property="pending1" />
    <result column="pending2" jdbcType="VARCHAR" property="pending2" />
    <result column="pending3" jdbcType="VARCHAR" property="pending3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, description, creater_id, type, create_time, update_time, parent_id, end_time, 
    locked, pos, pending1, pending2, pending3
  </sql>
  <select id="selectByExample" parameterType="com.sjtu.worktile.model.TTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sjtu.worktile.model.TTaskExample">
    delete from t_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sjtu.worktile.model.TTask">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_task (title, description, creater_id, 
      type, create_time, update_time, 
      parent_id, end_time, locked, 
      pos, pending1, pending2, 
      pending3)
    values (#{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, 
      #{type,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{parentId,jdbcType=BIGINT}, #{endTime,jdbcType=TIMESTAMP}, #{locked,jdbcType=INTEGER}, 
      #{pos,jdbcType=REAL}, #{pending1,jdbcType=VARCHAR}, #{pending2,jdbcType=VARCHAR}, 
      #{pending3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sjtu.worktile.model.TTask">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="locked != null">
        locked,
      </if>
      <if test="pos != null">
        pos,
      </if>
      <if test="pending1 != null">
        pending1,
      </if>
      <if test="pending2 != null">
        pending2,
      </if>
      <if test="pending3 != null">
        pending3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=INTEGER},
      </if>
      <if test="pos != null">
        #{pos,jdbcType=REAL},
      </if>
      <if test="pending1 != null">
        #{pending1,jdbcType=VARCHAR},
      </if>
      <if test="pending2 != null">
        #{pending2,jdbcType=VARCHAR},
      </if>
      <if test="pending3 != null">
        #{pending3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sjtu.worktile.model.TTaskExample" resultType="java.lang.Long">
    select count(*) from t_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.createrId != null">
        creater_id = #{record.createrId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.locked != null">
        locked = #{record.locked,jdbcType=INTEGER},
      </if>
      <if test="record.pos != null">
        pos = #{record.pos,jdbcType=REAL},
      </if>
      <if test="record.pending1 != null">
        pending1 = #{record.pending1,jdbcType=VARCHAR},
      </if>
      <if test="record.pending2 != null">
        pending2 = #{record.pending2,jdbcType=VARCHAR},
      </if>
      <if test="record.pending3 != null">
        pending3 = #{record.pending3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_task
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      creater_id = #{record.createrId,jdbcType=BIGINT},
      type = #{record.type,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      locked = #{record.locked,jdbcType=INTEGER},
      pos = #{record.pos,jdbcType=REAL},
      pending1 = #{record.pending1,jdbcType=VARCHAR},
      pending2 = #{record.pending2,jdbcType=VARCHAR},
      pending3 = #{record.pending3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sjtu.worktile.model.TTask">
    update t_task
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="locked != null">
        locked = #{locked,jdbcType=INTEGER},
      </if>
      <if test="pos != null">
        pos = #{pos,jdbcType=REAL},
      </if>
      <if test="pending1 != null">
        pending1 = #{pending1,jdbcType=VARCHAR},
      </if>
      <if test="pending2 != null">
        pending2 = #{pending2,jdbcType=VARCHAR},
      </if>
      <if test="pending3 != null">
        pending3 = #{pending3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sjtu.worktile.model.TTask">
    update t_task
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      parent_id = #{parentId,jdbcType=BIGINT},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      locked = #{locked,jdbcType=INTEGER},
      pos = #{pos,jdbcType=REAL},
      pending1 = #{pending1,jdbcType=VARCHAR},
      pending2 = #{pending2,jdbcType=VARCHAR},
      pending3 = #{pending3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>