<div ng-controller=entityEventCtrl wt-dragfile=vm.js_files_select($files) class=h_100p wt-dragfile-enable=(global.prj_module.crud|permission:project.permission)>
    <div class=entity-well-header ng-show="root_vm.entityExt.loading_done && (global.prj_module.view|permission:root_vm.entityExt.permission)">
        <a href=javascript:; class=entity-project-name ng-click="$root.locator.toPath('/project/'+project.pid+'/event')" ng-bind=project.name></a>
        <ul class="entity-well-header-nav nav nav-pills pull-right">
            <li class=entity-warning ng-if=vm.event.is_deleted>{{'entity_event.info_del'|translate:{when:(vm.event.update_date|timeFormatZHCN)} }}</li>
            <li ng-if=global.prj_module.crud|permission:root_vm.entityExt.permission>
                <a href=javascript:; ng-click=vm.js_show_editor(event) title="{{'entity_event.edit'|translate}}" ng-class="{true:'disabled'}[vm.tempEvent.is_edit]">
                    <i class="fa fa-pencil"></i>{{'entity_event.edit'|translate}}</a>
            </li>
            <li class=js-popbox ng-if=global.prj_module.crud|permission:root_vm.entityExt.permission>
                <a href=javascript:; class=dropdown-toggle data-toggle=dropdown title="{{'entity_event.add_attachement'|translate}}">
                    <i class="fa fa-paperclip"></i>{{'entity_event.attachment'|translate}}</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href=javascript:; ngf-multiple=true ngf-select ngf-change=vm.js_files_select($files)>
                            <i class="fa fa-desktop"></i>{{'entity_event.local_upload'|translate}}</a>
                    </li>
                    <li>
                        <a href=javascript:; data-placement=bottom wt-pop-add-attachment-from-file=vm.event>
                            <i class="fa fa-file"></i>{{'entity_event.form_project_files'|translate}}</a>
                    </li>
                    <li class=divider></li>
                    <li wt-stop-propagation=click>
                        <div class="part-loading mt-20" ng-if=vm.js_uploadbylink_uploading></div>
                        <form class="form-inline text-nowarp" role=form ng-show=!vm.js_uploadbylink_uploading>
                            <input type=text ng-model=vm.uploadlink_url class="form-control input-sm" placeholder="{{'entity_event.btn_paste_downlink'|translate}}">
                            <button class="btn btn-default plr_10" type=button ng-click=vm.js_uploadbylink($event)>{{'entity_event.add'|translate}}</button></form>
                    </li>
                </ul>
            </li>
            <li class=divider-v ng-if=global.prj_module.crud|permission:root_vm.entityExt.permission></li>
            <li class=js-popbox ng-if="!vm.event.is_deleted && (global.prj_module.crud|permission:root_vm.entityExt.permission)">
                <a href=javascript:; class=dropdown-toggle data-toggle=dropdown title="{{'entity_event.more'|translate}}" aria-expanded=true>
                    <i class="fa fa-chevron-down"></i>{{'entity_event.more'|translate}}</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-show=global.prj_module.crud|permission:root_vm.entityExt.permission>
                        <a href=javascript:; ng-click="vm.js_show_trash($event, vm.event)">
                            <i class="fa fa-trash-o fa-fw"></i>{{'common.txt_del'|translate}}</a>
                    </li>
                    <li>
                        <a href=javascript:; wt-entity-share="['',project.pid,'events',vm.event]">
                            <i class="fa fa-share-square-o fa-fw"></i>{{'entity_event.share'|translate}}</a>
                    </li>
                    <li>
                        <a href=javascript:; wt-entity-print="">
                            <i class="fa fa-print fa-fw"></i>{{'entity_event.print'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li class=js-popbox ng-if=!vm.event.is_deleted&&((global.prj_module.view|permission:root_vm.entityExt.permission)&&!(global.prj_module.crud|permission:root_vm.entityExt.permission))>
                <a href=javascript:; class=dropdown-toggle data-toggle=dropdown title="{{'entity_event.more'|translate}}" aria-expanded=true>
                    <i class="fa fa-chevron-down"></i>{{'entity_event.more'|translate}}</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href=javascript:; wt-entity-share="['',project.pid,'events',vm.event]">
                            <i class="fa fa-share-square-o"></i>{{'entity_event.share'|translate}}</a>
                    </li>
                    <li>
                        <a href=javascript:; wt-entity-print="">
                            <i class="fa fa-print"></i>{{'entity_event.print'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li class=divider-v></li>
            <li>
                <a class=entity-well-header-close href=javascript:; ng-click=$root.locator.close()>
                    <i class="wtfont wtf-close"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="entity-well-scroll height-nonav height-nonav--notab" ng-show="root_vm.entityExt.loading_done && (global.prj_module.view|permission:root_vm.entityExt.permission)" wt-scroll="">
        <div class=entity-well-content>
            <div ng-hide=vm.tempEvent.is_edit>
                <div class=entity-title>
                    <h2 ng-click=vm.js_show_editor(vm.tempEvent) ng-bind=vm.event.name></h2>
                </div>
                <div class=event-content>
                    <div class=event-content-area>
                        <div class=start-date>
                            <strong>{{vm.event.start.date|timeFormat}}</strong>
                            <small>{{vm.event.start.date|smartTimeFormat}}</small></div>
                        <div class=end-date>
                            <strong>{{vm.event.end.date|timeFormat}}</strong>
                            <small>{{vm.event.end.date|smartTimeFormat}}</small></div>
                    </div>
                    <div class=event-content-area ng-if="vm.event.location.length > 0">
                        <i class="wtfont wtf-address-o"></i>
                        <span ng-bind="vm.event.location||('entity_event.none'|translate)"></span>
                    </div>
                    <div class=event-content-area ng-hide="vm.event.recurrence == 0 ">
                        <i class="fa fa-repeat"></i>
                        <span class=time>{{vm.new_repeat_interval.desc}}</span></div>
                    <div class=event-content-area ng-if="vm.event.summary.length > 0">
                        <i class="wtfont wtf-desc-o"></i>
                        <span class="event-summary-text markdown" wt-markdown=vm.event.summary></span>
                    </div>
                </div>
            </div>
            <div class="edit-section edit-section--event" ng-if=vm.tempEvent.is_edit>
                <div>
                    <div class=input-section>
                        <input type=text ng-model=vm.tempEvent.name wt-enter="vm.js_set_update($event,vm.event, vm.tempEvent)" class="form-control help-block" placeholder="{{'entity_event.event_name'|translate}}" required wt-focus=vm.eventTitleInputFocus></div>
                    <div class=input-section>
                        <span class=input-label>{{'entity_event.start'|translate}}：</span>
                        <input wt-pop-full-datepicker=vm.start_date_options type=text ng-model=vm.tempEvent.start_date class="form-control date js-popbox" data-placement=bottom readonly=readonly required>
                        <select ng-model=vm.tempEvent.start_hour ng-options="time for time in vm.start_hour_sections" class="form-control hour"></select>
                        <span class=separation>:</span>
                        <select ng-model=vm.tempEvent.start_minute ng-options="time for time in vm.start_minute_sections" class="form-control minute"></select>
                    </div>
                    <div class=input-section>
                        <span class=input-label>{{'entity_event.end'|translate}}：</span>
                        <input type=text ng-model=vm.tempEvent.end_date wt-pop-full-datepicker=vm.end_date_options class="form-control date js-popbox" data-placement=bottom readonly=readonly required>
                        <select ng-model=vm.tempEvent.end_hour ng-options="time for time in vm.end_hour_sections" class="form-control hour"></select>
                        <span class=separation>:</span>
                        <select ng-model=vm.tempEvent.end_minute ng-options="time for time in vm.end_minute_sections" class="form-control minute"></select>
                    </div>
                    <div class=input-section>
                        <span class=input-label>{{'entity_event.location'|translate}}：</span>
                        <input type=text ng-model=vm.tempEvent.location class="form-control location" placeholder="{{'entity_event.option'|translate}}"></div>
                    <div class=input-section>
                        <span class=input-label>{{'entity_event.repeat'|translate}}：</span>
                        <span>{{vm.new_repeat_interval.desc}}</span></div>
                    <div class=input-section ng-if=vm.event.recurrence_id>
                        <span class=input-label>{{'entity_event.change'|translate}}：</span>
                        <select class="form-control location" ng-model=vm.update.option ng-options="update_option.desc for update_option in vm.update.options_for_recurring_event"></select>
                    </div>
                    <wt-editor pid=vm.pid>
                        <textarea ng-model=vm.tempEvent.summary type=text msd-elastic rows=9 wt-ctrl-enter="vm.js_set_update($event, vm.event,vm.tempEvent)" placeholder="{{'entity_event.placeholder_desc'|translate}}"></textarea>
                    </wt-editor>
                </div>
                <div class=form-group>
                    <button ng-click="vm.js_set_update($event, vm.event,vm.tempEvent)" data-loading-text="{{'common.saving'|translate}}" wt-loading-status=vm.event.is_saving class="btn btn-success mr_15">{{'common.txt_save'|translate}}</button>
                    <button ng-click=vm.js_cancel_editor(vm.event) class="btn btn-link btn-cancel">{{'common.txt_cancel'|translate}}</button></div>
            </div>
            <div class=entity-members>
                <dl class="entity-members-assign entity-members-assign--nowatch">
                    <dt>{{'entity_event.attend'|translate}}</dt>
                    <dd>
                        <ul class=avatars>
                            <li ng-repeat="attendee in vm.event.attendees">
                                <a href=javascript:; class="fa fa-times-circle" ng-click=vm.js_remove_attendee($event,attendee,vm.event)></a>
                                <wt-avatar member=attendee class=js-popbox wt-pop-member=vm.pop_attendee_options pop-member=attendee data-placement=left></wt-avatar>
                            </li>
                            <li ng-show=global.prj_module.crud|permission:root_vm.entityExt.permission>
                                <a class="avatar-add js-popbox" href=javascript:; data-placement=right data-align=center all-member-click="vm.js_attendee_all($event, members, xEntity)" wt-pop-toggle-members="vm.js_toggle_member($event, member, xEntity)" team-id=project.team_id pid=vm.pid permission=project.permission type=attendee entity=vm.event>
                                    <span class=o>＋</span></a>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <hr class=entity-hr ng-if="vm.event.files.length > 0">
            <div class=entity-well-content-module>
                <dl class="module-attachment dragfile-hover-show" ng-if="vm.event.files.length==0||vm.event.files == null">
                    <dt>
                        <i class="fa fa-paperclip"></i>{{'entity_event.title_attachment'|translate}}</dt>
                    <dd>
                        <div class=dragfile-hover-placeholder>
                            <span class=name>
                                <i class="fa fa-upload"></i>{{'entity_event.drop_upload'|translate}}</span>
                        </div>
                    </dd>
                </dl>
                <dl class=module-attachment ng-show="vm.event.files.length>0||($wtUpload.uploadQueueFilesByXid[vm.event.event_id].length>0)">
                    <dt>
                        <i class="fa fa-paperclip"></i>{{'entity_event.title_attachment'|translate}}</dt>
                    <dd>
                        <wt-attachment ng-repeat="file in vm.event.files" file=file fancygroup=filegroup-task gofile="vm.js_go_to_file(vm.pid, file.fid)" del="vm.js_del_attachment($event, file)" del-permission=global.prj_module.crud|permission:root_vm.entityExt.permission></wt-attachment>
                        <upload-attachment-file-process type=event pid=vm.pid xfield=event_id xid=vm.event.event_id></upload-attachment-file-process>
                        <div class=task-attachment-add ng-if=global.prj_module.crud|permission:root_vm.entityExt.permission>
                            <a href=javascript:; ngf-multiple=true ngf-select ngf-change=vm.js_files_select($files)>＋ {{'entity_event.add_attachement'|translate}}</a></div>
                        <div class=dragfile-hover-placeholder>
                            <span class=name>
                                <i class="fa fa-upload"></i>{{'entity_event.drop_upload'|translate}}</span>
                        </div>
                    </dd>
                </dl>
            </div>
            <hr class=entity-hr>
            <div class=entity-content-footer translate=entity_event.who_when_create translate-values={who:vm.event.creator.display_name,when:(vm.event.create_date|datetimeAutoFormat)}></div>
        </div>
        <div class=entity-tabs>
            <wt-item-comment-activity arg-type=event arg-project=project arg-entity=vm.event arg-entity-ext=root_vm.entityExt></wt-item-comment-activity>
        </div>
    </div>
</div>