<div class= "part-loading mt-20" ng-hide=part_loading_done></div>
<div ng-show=part_loading_done>
    <div class= "panel-section table-list">
        <table class= "table table--fancy">
            <thead>
                <tr>
                    <th>{{'common.txt_member'|translate}}</th>
                    <th>{{'team_admin_members.email'|translate}}/{{'team_admin_members.phone'|translate}}</th>
                    <th>{{'team_admin_members.join_date'|translate}}</th>
                    <th>{{'common.txt_role'|translate}}</th>
                    <th>{{'team_admin_members.status'|translate}}</th>
                    <th>{{'common.txt_set'|translate}}</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat= "member in account_members">
                    <td>
                        <wt-avatar member=member name=true size=30></wt-avatar>
                    </td>
                    <td>{{member.email||member.phone}}</td>
                    <td>{{member.join_date|timeFormatZHCN}}</td>
                    <td>
                        <span ng-if= "member.uid==current_team.owner.uid">{{'team_admin_members.team_owner'|translate}}</span>
                        <span ng-if= "member.uid!=current_team.owner.uid">{{member.role|role}}</span></td>
                    <td>{{member.status|memberStatus}}</td>
                    <td>
                        <a class= "js-popbox btn" href=javascript:; data-placement=left data-align=middle wt-member-control member=member team=team show-team-setting=true>{{'common.btn_set'|translate}}</a></td>
                </tr>
                <tr ng-if= "account_members.length == 0">
                    <td colspan=7>{{'team_admin_members.warn'|translate}}</td></tr>
                <tr ng-show=!account_members>
                    <td colspan=7 align=center></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>