<div class=popbox-body>
    <ul class=popbox-menu>
        <li>
            <a href=javascript:; ng-click=vm.add_team()>
                <i class= "fa fa-group fa-fw"></i>{{'common.txt_team'|translate}}</a>
        </li>
        <li>
            <a href=javascript:; ng-click=vm.add_project()>
                <i class= "fa fa-inbox fa-fw"></i>{{'common.txt_project'|translate}}</a>
        </li>
        <li class=divider></li>
        <li>
            <a href=javascript:; ng-click=vm.add_task()>
                <i class= "fa fa-tasks fa-fw"></i>{{'common.txt_task'|translate}}</a>
        </li>
        <li>
            <a href=javascript:; ng-click=vm.add_event()>
                <i class= "fa fa-calendar-o fa-fw"></i>{{'common.txt_event'|translate}}</a>
        </li>
        <li>
            <a href=javascript:; ng-click=vm.add_file()>
                <i class= "fa fa-file fa-fw"></i>{{'common.txt_file'|translate}}</a>
        </li>
    </ul>
</div>