<div class= "popbox-body pop-avatar-self">
    <ul class=popbox-menu>
        <li>
            <a href=/account/individuation>{{'leftmenu_me.go_preferences'|translate}}</a></li>
        <li>
            <a href=/account/settings>{{'leftmenu_me.go_account_info'|translate}}</a></li>
        <li>
            <a href=javascript:; ng-click=vm.js_show_feedback()>{{'leftmenu_me.post_feedback'|translate}}</a></li>
        <li class=divider></li>
        <li>
            <a href=javascript:; ng-click=vm.js_pop_mobild_download()>{{'leftmenu_me.link_worktile_app'|translate}}</a></li>
        <li>
            <a href=javascript:; ng-click=vm.js_pop_watch_wechat()>{{'leftmenu_me.watch_wechat'|translate}}</a></li>
        <li class=divider></li>
        <li>
            <div class= "flex-row icons-link">
                <div class=flex-se1>
                    <a href=https://worktile.com/help target=_blank>
                        <i class= "fa fa-question-circle"></i>
                        <br>{{'leftmenu_me.link_help'|translate}}</a></div>
                <div class=flex-se1>
                    <a href=https://worktile.com/club target=_blank>
                        <i class= "fa fa-comments"></i>
                        <br>{{'leftmenu_me.link_club'|translate}}</a></div>
                <div class=flex-se1>
                    <a href=https://worktile.com/blog target=_blank>
                        <i class= "fa fa-pencil"></i>
                        <br>{{'leftmenu_me.link_blog'|translate}}</a></div>
                <div class=flex-se1>
                    <a href=javascript:; ng-click=vm.js_pop_solutions() target=_blank>
                        <i class= "fa fa-lightbulb-o"></i>
                        <br>{{'leftmenu_me.link_can'|translate}}</a></div>
            </div>
        </li>
        <li class=divider></li>
        <li>
            <a href=javascript:; ng-click=$root.logout()>{{'leftmenu_me.btn_quit_session'|translate}}</a></li>
    </ul>
</div>