<div class=sub_toolbar>
    <div class="btn-group js-popbox mr-5" data-placement=bottom data-align=right ng-if=global.prj_module.crud|permission:project.permission>
        <button class="btn btn-success btn--fancy" ui-sref=project.page.add ui-sref-opts={pid:project.pid}>{{'page_toolbar.btn_add_page'|translate}}</button>
        <a class="btn btn-success btn--fancy dropdown-toggle" data-toggle=dropdown>
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
            <li>
                <a ui-sref=project.page.add ui-sref-opts={pid:project.pid}>
                    <i class="fa fa-fw"></i>{{'page_toolbar.btn_add_page'|translate}}</a>
            </li>
            <li>
                <a href=javascript:; ng-click=vm.show_add_subpage_pop($event)>
                    <i class="fa fa-fw"></i>{{'page_toolbar.btn_add_children'|translate}}</a>
            </li>
            <li ng-if=vm.enable_extension_shimo class=divider></li>
            <li ng-if=vm.enable_extension_shimo>
                <a href=javascript:; ng-click=vm.js_add_shimo_modal($event)>
                    <i class="fa fa-fw"></i>{{'page_toolbar.btn_add_shimo'|translate}}</a>
            </li>
        </ul>
    </div>
    <div class=btn-group>
        <a href=javascript:; type=button class="btn btn--fancy dropdown-toggle" data-toggle=dropdown>
            <sapn class=plr_10>{{{0:'common.txt_all',1:'page_toolbar.my_create',2:'page_toolbar.my_watch'}[vm.pages_filter.filter_type]|translate}}</sapn>
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href=javascript:; ng-click=vm.set_filter_type(0)>{{'common.txt_all'|translate}}</a></li>
            <li>
                <a href=javascript:; ng-click=vm.set_filter_type(1)>{{'page_toolbar.my_create'|translate}}</a></li>
            <li>
                <a href=javascript:; ng-click=vm.set_filter_type(2)>{{'page_toolbar.my_watch'|translate}}</a></li>
        </ul>
    </div>
    <a class=prj_top_icon href=javascript:; ng-click="sidebar.change_status('members','')" ng-class="{'active':sidebar.status == 'members'||sidebar.status == 'add_member'}" tooltip-placement=bottom uib-tooltip="{{'common.txt_member'|translate}}">
        <i class="wtfont wtf-userlist"></i>
    </a>
</div>