<div class= "layout_right_sidebar layout_right_sidebar--team">
    <dl class= "prj_sidebar h_100p">
        <dd>
            <div class=sidebar_header>
                <a href=javascript:; ng-click=vm.js_close_filter()>
                    <button class= "cancel wtfont wtf-close"></button>
                    <h3>{{'team_calendar_sidebar.filter_calendar'|translate}}</h3></a>
            </div>
            <div class=sidebar_body_scroll wt-scroll ng-mouseenter= "vm.is_filter_action=true" ng-mouseleave= "vm.is_filter_action=false">
                <div class=sidebar_body>
                    <h3 class=sidebar_body_header>{{'team_calendar_sidebar.filter_type'|translate}}
                        <a href=javascript:; class=filter_clear_btn ng-show=vm.is_filter_action ng-click=vm.js_clear_filter()>{{'team_calendar_sidebar.clearfilter'|translate}}</a></h3>
                    <ul class=filter_type_list_area>
                        <li ng-click=vm.js_filter_type() ng-class= "{'selected':vm.teamCalendarFilterData.filter_only_schedule==false&&vm.teamCalendarFilterData.filter_only_task==false}">{{'common.txt_all'|translate}}</li>
                        <li ng-click= "vm.js_filter_type('schedule')" ng-class= "{'selected':vm.teamCalendarFilterData.filter_only_schedule==true}">{{'team_calendar_sidebar.only_event'|translate}}</li>
                        <li ng-click= "vm.js_filter_type('task')" ng-class= "{'selected':vm.teamCalendarFilterData.filter_only_task==true}">{{'team_calendar_sidebar.only_task'|translate}}</li></ul>
                    <hr>
                    <h3 class=sidebar_body_header>{{'team_calendar_sidebar.sort_by_project'|translate}}</h3>
                    <ul class=project_list_area>
                        <li class=item ng-repeat= "project in vm.teamCalendarFilterData.team_all_projects" ng-click=vm.js_calendar_filter_project_toggle(project)>
                            <div class=checkbox_area>
                                <i class=fa ng-class= "{false:'fa-square-o',true:'fa-check-square'}[project.is_checked]"></i>
                            </div>
                            <a href=javascript:;>
                                <span class= "project-icon {{project.pic}} mr-14 fs_18" ng-style= "{'color':project.bg}"></span>
                                <span ng-bind=[project.name,15]|cutstr></span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <h3 class=sidebar_body_header>{{'team_calendar_sidebar.sort_by_member'|translate}}</h3>
                    <ul class= "member_list_area checkable">
                        <li ng-repeat= "member in vm.teamCalendarFilterData.team_all_member" ng-class= "{'selected':member.is_checked}" ng-click=vm.js_calendar_filter_member_toggle(member)>
                            <wt-avatar member=member size=30 name=[member.display_name,10]|cutstr></wt-avatar>
                        </li>
                    </ul>
                </div>
            </div>
        </dd>
    </dl>
</div>