<ul class=popbox-step ng-switch on=vm.step>
    <li ng-switch-default class=popbox-step-li>
        <div class=popbox-body>
            <ul class=popbox-menu>
                <li ng-if="vm.project.is_star!=-1&&!vm.project.archived">
                    <a href=javascript:; ng-click=vm.js_toggle_star()>
                        <i class="fa fa-fw" ng-class="{1:'fa-star color-label-yellow',0:'fa-star-o color-text-graylight'}[vm.project.is_star]"></i>{{{1:'pop_project_menu.cancel_star',0:'pop_project_menu.set_star'}[vm.project.is_star]|translate}}</a>
                </li>
                <li ng-if=$root.global.prj_module.setting|permission:vm.project.permission>
                    <a href=javascript:; ng-click=vm.js_project_setting(vm.project)>
                        <i class="fa fa-fw fa-cogs"></i>{{'pop_project_menu.project_setting'|translate}}</a>
                </li>
                <li>
                    <a href=javascript:; ng-click=vm.js_project_extension(vm.project)>
                        <i class="fa fa-puzzle-piece fa-fw"></i>{{'pop_project_menu.project_extension'|translate}}</a>
                </li>
                <li ng-if="vm.project.curr_role == 4">
                    <a href=javascript:; ng-click=vm.js_toggle_favorite()>
                        <i class="fa fa-fw" ng-class="{1:'fa-heart color-text-act-red',0:'fa-heart-o color-text-graylight'}[vm.project.is_favorite]"></i>{{{1:'pop_project_menu.cancel_fav',0:'pop_project_menu.set_fav'}[vm.project.is_favorite]|translate}}</a>
                </li>
                <li class=divider ng-if="(vm.project.curr_role==4)||($root.global.prj_module.setting|permission:vm.project.permission)||(vm.project.is_star!=-1&&!vm.project.archived)"></li>
                <li ng-if=$root.global.prj_module.setting|permission:vm.project.permission>
                    <a href=javascript:; ng-click=vm.js_add_project_member(vm.project)>
                        <i class="fa fa-fw fa-user-plus"></i>{{'pop_project_menu.add_member'|translate}}</a>
                </li>
                <li ng-if=$root.global.prj_module.crud|permission:vm.project.permission>
                    <a href=javascript:; ng-click=vm.js_project_labels(vm.project)>
                        <i class="fa fa-fw fa-tags"></i>{{'pop_project_menu.set_labels'|translate}}</a>
                </li>
                <li ng-if=$root.global.prj_module.setting|permission:vm.project.permission>
                    <a href=javascript:; ng-click=vm.js_project_timingtasks(vm.project)>
                        <i class="fa fa-fw fa-repeat"></i>{{'pop_project_menu.timingtask'|translate}}</a>
                </li>
                <li class=divider ng-if=($root.global.prj_module.crud|permission:vm.project.permission)||($root.global.prj_module.setting|permission:vm.project.permission)></li>
                <li>
                    <a href=javascript:; ng-click=vm.js_project_copy(vm.project)>
                        <i class="fa fa-fw"></i>{{'pop_project_menu.copy_project'|translate}}</a>
                </li>
                <li ng-if="vm.project.permission==vm.prj_permission_admin||vm.project.permission==vm.prj_permission_member||vm.project.permission==vm.prj_permission_guest">
                    <a href=javascript:; ng-click=vm.js_project_quit(vm.project)>
                        <i class="fa fa-fw"></i>{{'pop_project_menu.quit_project'|translate}}</a>
                </li>
                <li ng-if="vm.project.curr_role==1&&vm.project.archived==1">
                    <a href=javascript:; ng-click=vm.js_project_active(vm.project)>
                        <i class="fa fa-fw"></i>{{'pop_project_menu.title_unarchive'|translate}}</a>
                </li>
                <li>
                    <a href=javascript:; ng-click=vm.js_project_export(vm.project)>
                        <i class="fa fa-fw"></i>{{'pop_project_menu.export_data'|translate}}</a>
                </li>
                <li class=divider></li>
                <li>
                    <a ng-href=/project/{{vm.project.pid}}/archive>
                        <i class="fa fa-fw"></i>{{'pop_project_menu.archive_tasks'|translate}}</a>
                </li>
                <li>
                    <a ng-href=/project/{{vm.project.pid}}/activity>
                        <i class="fa fa-fw"></i>{{'pop_project_menu.activity'|translate}}</a>
                </li>
                <li ng-if=$root.global.prj_module.crud|permission:vm.project.permission>
                    <a href=/project/{{vm.project.pid}}/trash>
                        <i class="fa fa-fw"></i>{{'pop_project_menu.trash'|translate}}</a>
                </li>
            </ul>
        </div>
    </li>
</ul>